* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PT Sans", sans-serif;
}

#header {
  min-height: 10vh;
  background-color: #0084ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
nav {
  justify-self: end;
}
.logo {
  font-size: 1.5rem;
  justify-self: start;
  color: white;
  font-family: "PT Sans", sans-serif;
}
.nav-menu {
  width: 30px;
  height: 30px;
  justify-self: end;
}
#main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280, 1fr));
  min-height: 80vh;
  gap: 18px;
  margin-top: 36px;
}
#hero {
  width: 100%;
  min-height: 450px;
  background-color: #b8ddff;
  font-size: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 25px;
}
.hero-content {
  width: 90%;
  min-height: 40%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280, 1fr));
  align-items: center;
  justify-items: start;
}
.hero-content > h2 {
  font-size: 1.7rem;
  color: #0084ff;
  font-weight: 700;
}

.hero-content p {
  color: #4f90c8;
  font-weight: 700;
  font-size: 1rem;
}
.hero-btn {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  background-color: #0084ff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  place-items: center;
  color: white;
  font-weight: 700;
}
.btn-img {
  width: 24px;
  height: 24px;
  justify-self: end;
  border: 2px soild rgb(84, 211, 10);
}
.hero-img {
  width: 60%;
  height: 100%;
  margin-left: 16px;
}
#our-service {
  height: 850px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280, 1fr));
  gap: 16px;
}
.service-quality {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280, 1fr));
  height: 100%;
  height: 230px;
  place-items: center;
  background-color: #caf0db;
}
.service-img {
  width: 40px;
  height: 40px;
}
.service-quality > h2 {
  color: #54c788;
}
.service-quality p {
  color: #54c788;
  padding: 16px;
  text-align: center;
}
#planning {
  background-color: #9693e6;
}
