* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PT Sans", sans-serif;
}
/* header-section */
#header {
  min-height: 10vh;
  background-color: #0084ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
nav {
  justify-self: end;
}
.logo {
  font-size: 1.5rem;
  justify-self: start;
  color: white;
  font-family: "PT Sans", sans-serif;
}
.nav-menu {
  width: 30px;
  height: 30px;
  justify-self: end;
}
/* main-section */
#main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 70vh;
  margin-bottom: 70px;
  margin-top: 36px;
}
/* hero-section */

#hero {
  display: grid;
  place-items: center;
  margin-bottom: 16px;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  #hero {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 220px 1fr;

    align-items: center;
    justify-items: start;
  }
}

.service-quality {
  display: grid;
  place-items: center;
  background-color: #caf0db;
  margin-bottom: 16px;
  height: 240px;
  padding-top: 16px;
}
@media only screen and (min-width: 600px) {
  .service-quality {
    justify-items: center;
    align-items: start;
    height: 426px;
    margin-right: 16px;
  }
}
.service-img {
  width: 50px;
  height: 50px;
}
.service-quality > h2 {
  color: #54c788;
}
.service-quality p {
  color: #54c788;
  padding: 16px;
  text-align: center;
}

.hero-card {
  padding-left: 16px;
}
.hero-card * {
  margin-top: 16px;
}

.hero-card h2 {
  font-size: 1.7rem;
  color: #0084ff;
}
#hero > article:nth-child(3) h2 {
  color: #ff8a8a;
}
#hero > article:nth-child(4) h2 {
  color: #ffc166;
}
#hero > article:nth-child(5) h2 {
  color: #9693e6;
}
.hero-card p {
  font-size: 1rem;
  width: 100%;
  color: #4f90c8;
  font-weight: 700;
  padding: 0;
}
.hero-btn {
  width: 210px;
  background-color: #0084ff;
  border: none;
  border-radius: 25px;
  text-align: center;
  place-items: center;
  color: white;
  font-weight: 700;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  margin: 16px 0;
  padding: 10px;
}
.hero-btn img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  align-self: end;
}
.hero-btn a {
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
.hero-img {
  width: 210px;
  height: 100%;
  justify-self: start;
  margin-left: 16px;
  object-fit: contain;
}

#hero > article:first-child {
  background-color: #b8ddff;
  font-size: 1.2rem;
  display: grid;
  place-items: start;
  grid-template-rows: 1fr;
  border-radius: 25px;
  margin-bottom: 16px;
  align-self: start;
  place-items: center;
  height: 426px;
}

@media only screen and (min-width: 600px) {
  #hero > article:first-child {
    grid-column: 1/3;
  }
}
#hero > article:first-child p {
  text-align: start;
}
#hero > article:nth-child(3) p {
  color: #ff8a8a;
}
#hero > article:nth-child(4) p {
  color: #ffc166;
}
#hero > article:nth-child(5) p {
  color: #9693e6;
}
@media only screen and (min-width: 600px) {
  #hero > article:first-child p {
    font-size: 0.9rem;
  }
}
#hero > article:nth-child(2) {
  background-color: #caf0db;
}
@media only screen and (min-width: 600px) {
  #hero > article:nth-child(2),
  #hero > article:nth-child(3),
  #hero > article:nth-child(4),
  #hero > article:nth-child(5) {
    border-radius: 25px;
  }
}
#hero > article:nth-child(3) {
  background: #ffd2d2;
}
#hero > article:nth-child(4) {
  background-color: #ffe7c4;
}
#hero > article:nth-child(5) {
  background-color: #d5d4f5;
}

/* footer */

#footer {
  min-height: 20vh;
  background-color: #9693e6;
  display: grid;
  place-items: center;
}
#main-footer {
  min-height: 70%;
  display: grid;
  place-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 80%;
}
@media only screen and (min-width: 600px) {
  #main-footer {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  #main-footer {
    width: 40%;
  }
}

.footer-title {
  font-size: 1rem;
  color: #d5d4f5;
  font-weight: 100;
  text-transform: uppercase;
}
.footer-subTitle {
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 100;
  margin-top: 16px;
}
.footer-mainTitle {
  color: #ffc166;
  font-size: 2.5rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 600px) {
  .footer-mainTitle {
    font-size: 3rem;
  }
}
.footer-body {
  text-align: center;
  color: white;
}
@media only screen and (min-width: 600px) {
  .footer-body {
    width: 64%;
  }
}
.footer-btn {
  width: 90%;
  padding: 16px 10px;
  border-radius: 25px;
  text-align: center;
  color: #9693e6;
  text-transform: capitalize;
  border: none;
  margin: 32px 0;
}
@media only screen and (min-width: 600px) {
  .footer-btn {
    width: 40%;
  }
}
@media only screen and (min-width: 1000px) {
  .footer-btn {
    width: 40%;
  }
}
.copyright {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .copyright {
    width: 100%;
    text-align: center;
  }
}
.copyright a {
  text-align: center;
  font-size: 0.7rem;
  color: white;
  width: 70%;
}

.box {
  min-height: 5vh;
  width: 100%;
  background-color: #333333;
  color: white;
  display: grid;
  place-items: center;
}
.box > p {
  text-align: center;
  font-size: 0.7rem;
  width: 70%;
}
@media only screen and (min-width: 600px) {
  .box > p {
    width: 54%;
  }
}
@media only screen and (min-width: 1000px) {
  .box > p {
    width: 20%;
  }
}
